$blue: #247eb9;
$darkenBlue: #1e6a9b;
$gray: #484848;
$green: #95b300;
$red: #e00;
$yellow: #f5c601;
$orange: #f46e12;

$youtubeRed: #e00;
$twitchPurple: #3a00a6;
$instagramGradient: linear-gradient(to top,#6d00b5,#c2006e,#f56040);
$steamBlack: #1a1a1a;
$twitterBlue: #0095f2;

$socialButtonShadow: inset 0 0 0 1px rgb(255 255 255 / 50%), 0 4px 8px -2px rgb(0 0 0 / 50%);
$fa-font-path: "../../../assets/fonts" !default;
$fontFamily: "Poppins", sans-serif;

$padding: 10px;