
$padding: 10px;

.padding-top {
  padding-top: $padding;
}

.padding-left {
  padding-left: $padding;
}

.padding-right {
  padding-right: $padding;
}

.padding-bottom {
  padding-bottom: $padding;
}